<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div *ngIf="error">
      <div class="alert alert-danger">
        <p>{{ error }}</p>
      </div>
    </div> -->
    <!-- <app-alert *ngIf="error" [message]="error"></app-alert> -->
    <form #auth="ngForm" (ngSubmit)="authSubmit(auth)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required email />
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" name="password" id="pass" class="form-control" [(ngModel)]="password" required
          minlength="6" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="auth.invalid">
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        |
        <button class="btn btn-default" (click)="onSwitchMode()">
          switched to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>